---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<BaseLayout>
<h1>My Recommendations</>

<div class="card">
  <img src="https://m.media-amazon.com/images/S/compressed.photo.goodreads.com/books/1460224537i/29863662.jpg" alt="Legend Book Cover" style="width:100%">
  <h1>Legend - Marie Lu</h1>
  <p>Dystopia, Fantasy, Adventure</p>
  <p>Synopsis: What was once the western United States is now home to the Republic, a nation perpetually at war with its neighbors.Born into an elite family in one of the Republic's wealthiest districts, fifteen-year-old June is a prodigy being groomed for success in the Republic's highest military circles.
Born into the slums, fifteen-year-old Day is the country's most wanted criminal. But his motives may not be as malicious as they seem.From very different worlds, June and Day have no reason to cross paths - until the day June's brother, Metias, is murdered and Day becomes the prime suspect.
Caught in the ultimate game of cat and mouse, Day is in a race for his family's survival, while June seeks to avenge Metias's death. But in a shocking turn of events, the two uncover the truth of what has really brought them together, and the sinister lengths their country will go to keep its secrets.</p>
</div>
<div class="card">
  <img src="https://m.media-amazon.com/images/S/compressed.photo.goodreads.com/books/1734065182i/222532899.jpg" alt="Traumaland Book Cover" style="width:100%">
  <h1>TraumaLand- Josh Silver</h1>
  <p>Dystopia,Thriller,Mystery</p>
  <p>Synopsis: Seventeen-year-old Eli has been in a near-fatal car crash. As the anniversary looms, his therapist and family struggle to help him deal with the fall out. The accident has left him emotionally numb, with no memory of the months following the crash.
Desperate to feel something again, Eli winds up at an underground club called Traumaland. But this is no ordinary nightclub. Here he joins crowds of other emotionally numb people, all seeking to experience a new thrill by entering virtual reality simulations of nightmarish scenarios through the points of view of various characters.When he enters the story of a boy called Jack, he discovers a darker truth to the club. A truth that sets Eli on a dangerous journey to find the source of his own trauma.</p>
</div>

</div>
<div class="card">
  <img src="https://m.media-amazon.com/images/S/compressed.photo.goodreads.com/books/1567046398l/52376237.jpg" alt="The Loop Book Cover" style="width:100%">
  <h1>The Loop - Ben Oliver</h1>
  <p>Science-Fiction,Thriller,Dystopian</p>
  <p>Synopsis: Life inside The Loop-the futuristic death row for teens under eighteen-is one long repetitive purgatory. But when news of the encroaching chaos in the outside world reaches the inmates and disorder begins to strike, the prison becomes the least of their worries.It's Luka Kane's sixteenth birthday and he's been inside The Loop for over two years. Every inmate is serving a death sentence with the option to push back their execution date by six months if they opt into "Delays", scientific and medical experiments for the benefit of the elite in the outside world. But rumors of a war on the outside are spreading amongst the inmates, and before they know it, their tortuous routine becomes disrupted. The government issued rain stops falling. Strange things are happening to the guards. And it's not long until the inmates are left alone inside the prison.Were the chains that shackled Luka to his cell the only instruments left to keep him safe? He must overcome fellow prisoners hell-bent on killing him, the warden losing her mind, the rabid rats in the train tunnels, and a population turned into murderous monsters to try and break out of The Loop, save his family, and discover who is responsible for the chaos that has been inflicted upon the world.</p>
</div>
</BaseLayout>

