---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;

---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome!</h2>
  <p>Reading-Blog is a website where you can view reviews about books read!</p>
</BaseLayout>
