---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Readly</h2>
  <p>This is Readly - a simple website where you can view book reviews that i've made.</p>
</BaseLayout> 